body, html {
    height: 100%;
    margin: 0%;
    color: black;
    background-color: transparent;
}

ul {/*bar menu control*/
    color: white;
    text-align: center;
    background-color: black;
    list-style: none;
    margin: 0px;
    padding: 0px;
    

}


li, a, .bmune{ /*control all the links inside the bar menu*/
    color: white;
    display: inline-block;
    letter-spacing: 2px;
    padding: 10px;
    margin: 0px;
    text-transform: uppercase;
    font: 20px "Lato";
    text-decoration: none;
} 

.pic-1, .pic-2, .pic-3 {
    position: relative;
    opacity: 0.70;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.pic-1 {
    background-image: url(pics/IMG_5095.JPG);
    min-height: 100%;
}
.pic-2 {
    background-image: url(pics/IMG_5108.JPG);
    min-height: 500px;
}
.pic-3 {
    background-image: url(pics/omega_coaxial.png);
    min-height: 700px;
}
.caption {
    position: absolute;
    left: 0%;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
}
.caption span.border {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 25px;
    letter-spacing: 10px;
}
.title1 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: black;
}
.title2 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: white;
}
.omega {
    position: absolute;
    border-style: outset;
    left: 43.6%;
    top: 250%;
    margin: 0%;
    padding: 0px;
    text-align: center;
}
.longines {
    position: absolute;
    border-style: outset;
    left: 32.5%;
    top: 250%;
    margin: 0%;
    padding: 0%;
    text-align: center;
}
.mido {
    position: absolute;
    border-style: outset;
    left: 21.4%;
    top: 250%;
    margin: 0%;
    padding: 0px;
    text-align: center;
}
.hamilton {
    position: absolute;
    border-style: outset;
    left: 10.3%;
    top: 250%;
    margin: 0%;
    padding: 0px;
    text-align: center;
}
.tissot {
    position: absolute;
    border-style: outset;
    left: 58.4%;
    top: 250%;
    margin: 0%;
    padding: 0px;
    text-align: center;
}
.rado {
    position: absolute;
    border-style: outset;
    left: 69.5%;
    top: 250%;
    margin: 0%;
    padding: 0px;
    text-align: center;
}
.certina {
    position: absolute;
    border-style: outset;
    left: 80.5%;
    top: 250%;
    margin: 0%;
    padding: 0px;
    text-align: center;
}
@media only screen and (max-device-width: 200px) {
    .pic-1, .pic-2, .pic-3 {
      background-attachment: scroll;
    }
    .omega .longines .mido .hamilton .tissot .rado .certina {
        display: none;
    }
  }