html{
    background-color:none;
}

body{
    background-image: url(pics/runningpic.png);
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0;
}
.menu {/* the lines menu*/
    position: relative;
    top: 0px;
    width: 40px;
    height: 4px;
    background-color:white;
    margin: 6px 18;
    
}
ul{ /*this control the bar*/
    list-style-type:none;
    margin: 0%;
    top: 0px;
    padding: 0%;
    background-color:black;
    /*position: -webkit-sticky; /*keeps the bar in ta window even when scroll*/
    position:fixed;
    width: 100%;
    text-align: center;
    
}

li{ /*this control the space of the word inside the bar*/
    position: relative;
    text-align: center;
    display:inline;
    width: 100%;
    color: white;
    padding: 0%;
}

a:link{
    color:white;
    background: transparent;
    text-decoration:none;
}

a:active{
    color:green;
    background: transparent;
    text-decoration: underline;
}

a:hover{
    color:red;
}

a{ /*all hiper links*/
    font-size:medium;
    color:white; 
    white-space: 50px;
}

li a{
    display: inline;
    text-align: right;
    padding: 25px 15px;
}

h1{
    color:white;
    font-size: 100px;
    background-position-y:bottom;
}
.toolPics {
    visibility:hidden;
    display: inline;
}
.Rolexpic {
    margin-top: 68%;
}
.sf{
    align: center;
}
