html{
    background-color: none;
    /*scroll-behavior: smooth;*/
}
body{
    background-image: url(pics/omega_coaxial.png);
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0;
}
.menu {/* the lines burger menu*/
    position: relative;
    top: 0px;
    width: 40px;
    height: 4px;
    background-color:white;
    margin: 6px 18;
    padding: 0%;
}
.hide { 
    display: none; /*this goes iside the burger menu*/
}
.myDIV:hover + .hide {
    display: block;
    color: red;
}
ul{ /*this control the bar*/
    list-style-type:none;
    position:fixed;
    width: 100%;
    text-align: center;
    margin: 0%;
    top: 0px;
    margin-left: -0.6%;
    padding: 0%;
    background-color:black;
    border-spacing: 0ch;
    /*position: -webkit-sticky; /*keeps the bar in ta window even when scroll*/ 
}
.quote {
    margin-top: 0%;
    margin-right: 3%;
    text-align: right;
    margin-top: -1.1%;
}
li{ /*this control the space of the word inside the bar*/
    position: relative;
    text-align: center;
    display:inline;
    width: 100%;
    color: white;
    padding: 0px;
    border-spacing: 0px;
}
a:link{
    color:white;
    background: transparent;
    text-decoration:none;
}
a:active{
    color:green;
    background: transparent;
    text-decoration: underline;
}
a:hover{
    color:lightgrey;
}
a{ /*all hiper links*/
    font-size:medium;
    text-shadow: 2px 4px 4px black;
    color:white;
}
li a{
    display: inline;
    text-align: right;
    padding: 25px 15px;
}
.tw h1 a{ /*controls the name of the store (title)*/
    margin-top: -5%;
    color:white;
    line-height: 1px;
    margin: 0%;
    padding: 0%;
    font-size: xx-large;
}
h2{
    display: inline-block;
    text-align: center;
    background-color: none;
    margin-top: 70%;
    padding: 0%;
    line-height: 0%;
    color:black;
}
.logo{
    font-family: 'Franklin Gothic Medium';
}
.Blackpain {
    margin-left: 3%;
    margin-top: -13.3%;
}
.Breguet{
    margin-top: 0%;
    margin-left: 22%;
}
.Glashute {
    margin-top: -13.3%;
    margin-left: 42%;
}
.longines {
    margin-top: -13.3%;
    margin-left: 62%;
}
.omega {
    margin-top: -13.3%;
    margin-left: 82%;
}
.toolPics {
    display: inline-block;
    margin-top: -80%;
    line-height: 0%;
    /*white-space: nowrap;*/
    visibility:;
    display: inline;
}
.address{
    margin-top: 20%;
    margin-left: 30%;
    border-image-outset: 2%;
}
.slidecontainer {
    width: 100%; /*width of the total size*/
}